.home-container {
    display: flex;
    justify-content: center;
}

.cards {
    background: rgb(49, 49, 49);
    margin: 10px;
    padding: 77px 10px;
}

.cards h1 {
    color: #fff;
    text-align: center;
}

a {
    text-decoration: none;
}